<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>秋名山车辆识别系统</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="/static/img/bg11.jpg">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="col-md-6 column">
                <img border="0" src="/static/img/QMS_logo2.png" width="560" height="200">
            </div>
            <div class="col-md-6 column" style="color:aliceblue">
                <h4 style="visibility: hidden"> blank</h4>
                <h1 >欢迎来到“秋名山车辆识别系统”！</h1>
                <h7 style="visibility: hidden"> blank</h7>
                <p>
                    本系统是一个公有云项目，建立一个大型的在线车辆识别系统服务，供有需要的客户调用。
                    客户只需要配置一个符合要求的摄像头，客户自己的管理系统来调用本平台提供的各类API,
                    实现各种车辆的即时识别功能。
                </p>
			</div>

            <h1 style="visibility: hidden"> blank</h1>
            
			<div class="row clearfix">
				<div class="col-md-4 column">
                    <div class="thumbnail">
                       <img src="/static/img/item.jpg" alt="通用的占位符缩略图">
                        <div class="caption">
                            <p style="color: cornflowerblue;font-size: 30px">
                                <a href="vehicleLicensePlateR">
                                    <strong>车牌识别</strong></a>
                            </p>
                            <p>
                            支持对中国大陆机动车车牌的识别，包括地域编号、车牌号、车牌颜色和车的类型等信息
                            </p>
                        </div>
                    </div>

					<div class="thumbnail">
                       <img src="/static/img/item.jpg" alt="通用的占位符缩略图">
                        <div class="caption">
                            <p style="color: cornflowerblue;font-size: 30px">
                                <a href="">
                                    <strong>车损识别</strong></a>
                            </p>
                            <p>
                            车辆外观损伤识别，针对常见小
                            汽车车型，识别车辆外观受损部 件及损伤类型，
                            可识别数十种车 辆部件、五大类外观损伤（刮擦、 凹陷、开裂、褶皱、穿孔）
                            </p>

                        </div>
                    </div>

				</div>
				<div class="col-md-4 column">
					<div class="thumbnail">
                       <img src="/static/img/bg8.jpg" alt="通用的占位符缩略图">
                        <div class="caption">
                            <p style="color: cornflowerblue;font-size: 30px">
                                <a href="vehicleTypeR">
                                    <strong>车类识别</strong></a>
                            </p>
                            <p>
                            检测拍摄照片中的主体车辆位置，
                            识别车辆品牌型号（如宝马X3）、 年份、颜色等信息
                            </p>

                        </div>
                    </div>
					<div class="thumbnail">
                       <img src="/static/img/item.jpg" alt="通用的占位符缩略图">
                        <div class="caption">
                            <p style="color: cornflowerblue;font-size: 30px">
                                <a href="">
                                    <strong>驾驶行为分析</strong></a>
                            </p>
                            <p>
                            针对车载场景，识别驾驶员使用
                            手机、抽烟、不系安全带、双手 离开方向盘等动作姿态，
                            分析预警危险驾驶行为，提升行车安全性
                            </p>

                        </div>
                    </div>
				</div>

				<div class="col-md-4 column">
					<div class="thumbnail">
                       <img src="/static/img/item.jpg" alt="通用的占位符缩略图">
                        <div class="caption">
                            <p style="color: cornflowerblue;font-size: 30px">
                                <a href=""><strong>车辆检测</strong></a>
                            </p>
                            <p>
                            识别图像中的所有车辆，
                            返回每辆车的类型和坐标位置。
                            在检测和识别的基础上，
                            对每类车辆分别计数，支持指定 不规则区域的车辆统计。
                            </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>